<h1>Edit <%=@state.name %></h1>

<%= form_for @state do |f| %>
  <p>
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label "Electoral Votes" %>
  <%= f.number_field :electoral_votes %>
  </p>
  <p>
  <%= f.label "Predicted" %>
  <%= f.select :predicted, [['Solid Republican'], ['Leans Republican'], ['Battleground'], ['Leans Democrat'], ['Solid Democrat']] %>
  </p>
  <p>
    <%= f.label "Winner" %>
    <%= f.select :winner, [['Hillary Clinton'], ['Donald Trump'], ['Not Called']] %>
  </p>
  <p>
  <%= f.label "Called" %>
  <%= f.check_box :called %>
  </p>
  <p>
  <%= f.label "Picture URL" %>
  <%= f.text_field :picture_url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>