<h1>All States</h1>


<table>
  <th>State Name</th>
  <th>Electoral Votes</th>
  <th>Predicted</th>
  <th>Called?</th>
  <th>Winner</th>
<% @states.each do |state| %>
  <tr>
    <td><%= link_to state.name, state_path(state.id) %></td>
    <td><%= state.electoral_votes %></td>
    <td><%= state.predicted %></td>
    <td><%= state.called %></td>
    <td><%= state.winner %></td>
    <td><%= button_to "Edit State", edit_state_path(state), method: :get %></td>
  </tr>
<% end %>

</table>