<h1>Information for <%= @state.name %></h1>

<ul>
  <li>Name: <%= @state.name %></li>
  <li>Electoral Votes: <%= @state.electoral_votes %></li>
  <li>Party: <%= @state.predicted %></li>
  <li>Called: <%= @state.called %></li>
  <li>Winner: <%= @state.winner %></li>
</ul>