<h1>Presedential Election 2016</h1>
<div class="row navbar navbar-default">
  <div class="col-md-4 democrat">
    <h2 class="candidate_name"><%= @candidates[1].name%></h2> <br />
    <img class="hillary_pic" src="img/clinton.jpg" alt="Picture of Hillary Clinton" />
    <h4><%= @candidates[1].party %></h4>
    <h4 class="candidate_votes"><%= @candidates[1].electoral_votes %></h4>
    <h4>Votes Needed To Win: <%=@candidates[1].votes_needed %></h4>
  </div><!--.col-md-4-->
  <div class="col-md-4">
    <h2>Unclaimed Votes</h2>
    <h4 class="candidate_votes"><%= @candidates[0].electoral_votes%><h4>
  </div><!--.col-md-4-->
  <div class="col-md-4 republican">
    <h2 class="candidate_name"><%= @candidates[2].name%></h2> <br />
    <img class="trump_pic" src="img/trump.jpg" alt="Picture of Donald Trump" />
    <h4><%= @candidates[2].party%></h4>
    <h4 class="candidate_votes"><%= @candidates[2].electoral_votes %></h4>
    <h4>Votes Needed To Win: <%=@candidates[2].votes_needed %></h4>
  </div><!--.col-md-4-->
</div><!--.row-->

<div class="row states_row">
  <table class="table">
  <th>State Name</th>
  <th>Electoral Votes</th>
  <th>Predicted</th>
  <th>Called?</th>
  <th>Winner</th>
  <th>Update</th>
<% @states.each do |state| %>
  <tr>
    <td><%= link_to state.name, state_path(state.id) %></td>
    <td><%= state.electoral_votes %></td>
    <td><%= state.predicted %></td>
    <%= form_for state do |f| %>
    <td><%= f.check_box :called %></td>
    <td><%= f.select :winner, [['Hillary Clinton'], ['Donald Trump'], ['Not Called']] %></td>
    <td><%= f.submit "Update Votes" %></td>
    <% end %>
  </tr>
<% end %>

</table>
</div><!--.row-->