<h1>Edit <%= @candidate.name %></h1>

<%= form_for @candidate do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :party %>
  <%= f.text_field :party %>
  <%= f.submit %>
<% end %>