<h1>Information for <%= @candidate.name %></h1>

<ul>
  <li>Name: <%= @candidate.name %></li>
  <li>Party: <%= @candidate.party %></li>
  <li>Electoral Votes: <%= @candidate.electoral_votes %></li>
  <li>Electoral Votes Needed to Win: <%= @candidate.votes_needed %></li>
</ul>